/* ==========================================================================
   Utilities: Visibility
   Show/hide elements responsively and for screen readers.
   ========================================================================== */

.u-hidden {
  display: none !important;
}

.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.u-show-at-desktop {
  display: none !important;
}

@media (min-width: 64rem) {
  .u-show-at-desktop {
    display: block !important;
  }

  .u-show-at-desktop--inline {
    display: inline !important;
  }

  .u-show-at-desktop--flex {
    display: flex !important;
  }
}

@media (min-width: 64rem) {
  .u-hide-at-desktop {
    display: none !important;
  }
}
